//color
$white:           #ffffff;
$black:           #000000;
$gray:            #8c8c8c;
$blue:            #0000ff;
$liteRed:         #f35f52;
$liteBlack:       #242424;

$liteGreen:       #1db1ae;
$liteGreenHover:  #289492;
$liteGreenActive: #267e7c;


$outlineColor:    #4D90FE;
$formColorBg:     #262626;

// font-weight
$lightFont:     300;
$regularFont:   400;
$mediumFont:    500;
$semiBoldFont:  600;
$boldFont:      700;
$extraBoldFont: 800;
$blackFont:     900;